[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = green bold
    local = green
    remote = yellow

[color "diff"]

	frag = magenta bold # line info
    meta = yellow bold
	old = red # deletions
	new = green # additions

[color "status"]

    added = green reverse
    changed = yellow reverse
    untracked = red reverse

[core]

	# Use custom `.gitignore`
	excludesfile = ~/.gitignore

	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

[diff]

	# Detect copies as well as renames
	renames = copies

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1